@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Sansita&display=swap');

body{
    background-image:url('https://cdna.artstation.com/p/assets/images/images/020/769/184/large/emily-motion-vfx-spider-man.jpg?1569095943');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: "Fredericka the Great", sans-serif;
    color: gold;
}

.form-group b{
    font-family: "Sansita", sans-serif;
    color: gold;
    letter-spacing: 3px;
}

input{
    margin-bottom: 15px;
}

.d-flex{
    display: flex;
    justify-content: space-around;
}

.btn{
    border: 3px outset black;
    font-weight: bold;
    letter-spacing: 2px;
    color: black;
}