<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>superhero details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
</head>
<body>
    <div class="row my-5">
        <div class="col-2"></div>
        <div class="col-4">
            <h2>{{superhero.name}}</h2>
            <br>
            <div class="details">
                <h4><b>Alter Ego</b>: <i>{{superhero.alter_ego_name}}</i></h4>
                <h4><b>Primary Ability</b>: <i>{{superhero.primary_ability}}</i></h4>
                <h4><b>Secondary Ability</b>: <i>{{superhero.secondary_ability}}</i></h4>
                <h4><b>Catchphrase</b>: <i>{{superhero.catchphrase}}</i></h4>
                <br>
                <a id="create-btn" href="{% url 'superheroes:create_superhero' %}">Create Superhero</a>
                <br>
                <br>
                <a href="{% url 'superheroes:index' %}" class="btn btn-sm btn-success">Back</a>
            </div>
        </div>
        <div class="col-4">
            <h2>Update {{superhero.name}}</h2>
            <br>
            <form action="{% url 'superheroes:update_superhero' superhero.id%}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <b>Name:</b> <input class="form-control" type="text" name="name" id="name">
                    <b>Alter Ego:</b> <input class="form-control" type="text" name="alter_ego" id="alter_ego">
                    <b>Primary Ability:</b> <input class="form-control" type="text" name="primary_ability" id="primary_ability">
                    <b>Secondary Ability:</b> <input class="form-control" type="text" name="secondary_ability" id="secondary_ability">
                    <b>Catchphrase:</b> <input class="form-control" type="text" name="catchphrase" id="catchphrase">
                    <br>
                    <input class="btn btn-sm btn-warning" type="submit" value="Update">
                </div>
            </form>
            <a href="{% url 'superheroes:delete' superhero.id %}" class="btn btn-sm btn-danger">Delete this Character</a>
        </div>
    </div>
</body>
</html>